<div fxLayout="row wrap">
  <div fxFlex="100">
    <form
      [formGroup]="filtroForm"
      name="filtroForm"
      (submit)="this.GetArticulos()"
      class="basic-form"
    >
      <mat-card>
        <mat-card-content>
          <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex.gt-md="40" fxFlex.gt-lg="100" fxFlex="100">
              <mat-form-field>
                <mat-select
                  [(ngModel)]="this.reporteSelect"
                  placeholder="Seleccione Reporte"
                  formControlName="tipoReporte"
                  (selectionChange)="this.GetSelectValue($event)"
                >
                  <mat-option [value]="1">REPORTE DE PRODUCTOS FORMULADOS</mat-option>
                  <mat-option [value]="2">REPORTE POR COMPOSICIÓN</mat-option>
                  <mat-option [value]="3">REPORTE POR PLAGA</mat-option>
                  <mat-option [value]="4">REPORTE POR CULTIVO</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-md="60" fxFlex.gt-lg="100" fxFlex="100" class="text-right">
              <button
                mat-raised-button
                style="margin: 5px 0px 5px 30px; min-width: 180px"
                type="submit"
                class="m-r-5"
                color="info"
              >
                <mat-icon class="mat-18">search</mat-icon>
                Buscar Articulo
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-subtitle>Lista Resultado:</mat-card-subtitle>
        <!-- <app-grilla-articulo
          [setListArticulo]="this.listArticulos"
          (onGetCursoSeleccionado)="onGetArticulo($event)"
          (onDeleteCursoSeleccionado)="onDeleteArticulo($event)"
        >
        </app-grilla-articulo> -->

        <app-grilla-reporte-formulado
          (exportToExcel)="this.onExportExcelGeneral($event)"
          [setListArticulo]="this.dataReporteGeneral"
          *ngIf="this.reporteSelect === 1 && this.dataReporteGeneral.length > 0"
        ></app-grilla-reporte-formulado>
        <app-grilla-reporte-composicion
          (exportToExcel)="this.onExportExcelComposicion($event)"
          [setListArticulo]="this.dataComposicion"
          *ngIf="this.reporteSelect === 2 && this.dataComposicion.length > 0"
        ></app-grilla-reporte-composicion>
        <app-grilla-reporte-plaga
          (exportToExcel)="this.onExportExcelPlaga($event)"
          [setListArticulo]="this.dataReportePlaga"
          *ngIf="this.reporteSelect === 3 && this.dataReportePlaga.length > 0"
        ></app-grilla-reporte-plaga>
        <app-grilla-reporte-cultivo
          (exportToExcel)="this.onExportExcelCultivo($event)"
          [setListArticulo]="this.dataReporteCultivo"
          *ngIf="this.reporteSelect === 4 && this.dataReporteCultivo.length > 0"
        ></app-grilla-reporte-cultivo>
      </mat-card-content>
    </mat-card>
  </div>
</div>
