<div fxLayout="row wrap">
  <div fxFlex="100">
    <form
      [formGroup]="filtroForm"
      name="filtroForm"
      (submit)="this.GetArticulos()"
      class="basic-form"
    >
      <mat-card>
        <mat-card-content>
          <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex.gt-md="20" fxFlex.gt-lg="100" fxFlex="100">
              <mat-form-field fxFlex="95">
                <mat-select
                  formControlName="tipoReporte"
                  [ngModel]="tipoSeleccionado"
                  (selectionChange)="this.onChangeFiltro($event)"
                  placeholder="Seleccione Tipo Filtro"
                >
                  <mat-option [value]="1">Por Nombre Comercial</mat-option>
                  <mat-option [value]="2">Por Ingrediente Activo</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div
              fxFlex.gt-md="20"
              fxFlex.gt-lg="100"
              fxFlex="100"
              *ngIf="this.tipoSeleccionado===1"
            >
              <mat-form-field>
                <input
                  matInput="matInput"
                  placeholder="Buscar Producto"
                  formControlName="txtFiltro"
                  required="required"
                />
              </mat-form-field>
            </div>

            <div
              fxFlex.gt-md="20"
              fxFlex.gt-lg="100"
              fxFlex="100"
              *ngIf="this.tipoSeleccionado===2"
            >
              <mat-form-field>
                <mat-select
                  formControlName="idTipoIngrediente"
                  [ngModel]="idIngredienteSeleccionado"
                  placeholder="Seleccione Ingredicente A."
                  required="required"
                >
                  <mat-option
                    *ngFor="let item of cboTipoIngredienteActivo"
                    [value]="item.IngredenteActivo"
                  >
                    {{item.NomIngredienteActivo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex.gt-md="60" fxFlex.gt-lg="100" fxFlex="100">
              <button
                mat-raised-button="mat-raised-button"
                style="margin: 5px 0px 5px 15px; min-width: 100px;"
                type="submit"
                class="m-r-5"
                color="info"
                [disabled]="!this.filtroForm.get('tipoReporte')?.value"
              >
                <mat-icon class="mat-18">search</mat-icon>
                Buscar Producto
              </button>

              <button
                mat-raised-button="mat-raised-button"
                style="margin: 5px 0px 5px 15px; min-width: 100px;"
                type="button"
                class="m-r-5"
                color="primary"
                [routerLink]="['/articulo/articulo/0']"
                routerLinkActive="router-link-active"
              >
                <mat-icon class="mat-18">add</mat-icon>
                Nuevo Producto
              </button>
              <button
                mat-raised-button="mat-raised-button"
                style="margin: 5px 0px 5px 15px; min-width: 160px;"
                color="accent"
                type="button"
                class="m-r-5"
                (click)="this.GetFileExcel()"
                [disabled]="!this.filtroForm.get('tipoReporte')?.value && this.listArticulos?.length !== 0"
              >
                <mat-icon class="mat-18">file_download</mat-icon>
                Exportar
              </button>
              <button
                mat-raised-button="mat-raised-button"
                style="margin: 5px 0px 5px 15px; min-width: 100px;"
                color="accent"
                type="button"
                class="m-r-5"
                [disabled]="!this.filtroForm.get('tipoReporte')?.value"
              >
                <mat-icon class="mat-18">picture_as_pdf</mat-icon>
                Imprimir PDF
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-subtitle>Lista de producto:</mat-card-subtitle>
        <app-grilla-articulo
          [setListArticulo]="this.listArticulos"
          (onGetCursoSeleccionado)="onGetArticulo($event)"
          (onDeleteCursoSeleccionado)="onDeleteArticulo($event)"
        ></app-grilla-articulo>
      </mat-card-content>
    </mat-card>
  </div>
</div>
