<div class="table-responsive">
  <div class="button-row m-b-15 m-t-15">
    <button
      mat-raised-button
      color="primary"
      style="margin: 5px 0px 5px 30px; min-width: 180px"
      type="button"
      class="m-r-5"
      (click)="OnExportToExcel()"
    >
      <mat-icon class="mat-18">exit_to_app</mat-icon>
      Exportar
    </button>
  </div>

  <table mat-table [dataSource]="this.cursosList" matSort class="table ticket-list">
    <ng-container matColumnDef="NombreComercial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Comercial</th>
      <td mat-cell *matCellDef="let element">{{ element.NombreComercial }}</td>
    </ng-container>

    <ng-container matColumnDef="NroRegistro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro Registro</th>
      <td mat-cell *matCellDef="let element">{{ element.NroRegistro }}</td>
    </ng-container>

    <ng-container matColumnDef="NomPais">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pais</th>
      <td mat-cell *matCellDef="let element">{{ element?.IdPaisNavigation?.NomPais }}</td>
    </ng-container>

    <ng-container matColumnDef="NomTitularRegistro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titular Registro</th>
      <td mat-cell *matCellDef="let element">
        {{element?.IdTitularRegistroNavigation?.NomTitularRegistro}}
      </td>
    </ng-container>

    <ng-container matColumnDef="NomTipoProducto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Producto</th>
      <td mat-cell *matCellDef="let element">
        {{element.IdTipoProductoNavigation.NomTipoProducto}}
      </td>
    </ng-container>

    <ng-container matColumnDef="TipoFormulacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Formulacion</th>
      <td mat-cell *matCellDef="let element">
        {{element?.IdTipoFormulacionNavigation?.NomTipoFormulacion}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Formulador">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Formulador</th>
      <td mat-cell *matCellDef="let element">{{element?.IdFormuladorNavigation?.NomFormulador}}</td>
    </ng-container>

    <ng-container matColumnDef="IngredienteActivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingrediente Activo</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let p of element?.Composicions">
            {{p?.IngredienteActivoNavigation?.NomIngredienteActivo}}
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="ConcentracionIA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Concentración IA</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let p of element?.Composicions">{{p?.ContracionIA}}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="Toxicologia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Toxicologia</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let p of element?.Caracteristicas">
            {{p?.IdToxicologicaNavigation?.Descripcion}}
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="Cultivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cultivo</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let p of element?.Usos">{{p?.IdCultivoNavigation?.NombreCultivo}}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="Plaga">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Plaga</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let p of element?.Usos">
            {{p?.IdNomCientificoPlagaNavigation?.NombreCientificoPlaga}}
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="Dosis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dosis</th>
      <td mat-cell *matCellDef="let element">Ver Etiqueta</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="13">No se encontraron registros</td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 8, 10]"
    showFirstLastButtons
    aria-label="Selecciona página"
  ></mat-paginator>
</div>
